body {
    background-color: #007AFF !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007AFF !important;
    min-height: 100vh;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding-top: 12px
}

.quizcard {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}

.bg-success,
.bg-danger {
    color: white;
}